Package: com.shrugs.nophantomads
Name: NoPhantomAds
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Shrugs
Author: Shrugs
Section: Tweaks
