Package: com.shrugs.twitchplayspokemongo
Name: twitchplayspokemongo
Depends: mobilesubstrate, firmware (>= 9.0), kr.iolate.simulatetouch
Version: 0.0.1
Architecture: iphoneos-arm
Description: Twitch Plays Pokemon Go
Maintainer: Shrugs (Matt Condon) <m@cond.in>
Author: Shrugs (Matt Condon) <m@cond.in>
Section: Tweaks
