Package: com.mattcmultimedia.messageswiper
Name: MessageSwiper
Depends: mobilesubstrate, firmware (>= 6.0), preferenceloader
Version: 3.6.1
Architecture: iphoneos-arm
Description: swipe left/right between threads +more
Maintainer: MattCMultimedia
Author: MattCMultimedia
Section: Tweaks