Package: com.shrugs.growlith
Name: growlith
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Shrugs (Matt Condon) <m@cond.in>
Author: Shrugs (Matt Condon) <m@cond.in>
Section: Tweaks
